#about {
  padding-top: 100px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#about #presentation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
  padding: 50px;
}

#about #presentation h2 {
  width: 100%;
  font-size: 2.5em;
  color: var(--maincolor);
  text-align: left;
}

#about #presentation p {
  text-align: start;
  max-width: 70%;
  font-size: 1.5em;
  color: #ffffff;
}

#about #presentation .button-div {
  width: 100%;
  display: flex;
  justify-content: start;
}

#about #presentation .button-div button {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  background: transparent;
  padding: 0.3em 1.3em;
  border-bottom: 4px double #fff;
  border-right: 4px double #fff;
  border-top: 4px double var(--maincolor);
  border-left: 4px double var(--maincolor);
  transition: 0.3s all;
}

#about #presentation .button-div button:hover {
  border-top: 4px double #fff;
  border-left: 4px double #fff;
  border-bottom: 4px double var(--maincolor);
  border-right: 4px double var(--maincolor);
}

#about #skills {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#about #skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

#about #skills ul li {
  width: 100%;
  color: #ffffff;
  font-size: 1.5em;
}

#about #skills ul h3 {
  width: 100%;
  font-size: 2em;
  color: var(--maincolor);
}
