.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

:root {
  --maincolor: #d05dd0;
}

#app-header {
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222;
  box-shadow: 0px 5px 100px #efefef;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 99;
}

#header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#header-ul li {
  list-style: none;
}

#header-ul li a:hover {
  color: var(--maincolor)
}

.mb,
#header-ul.mb {
  display: none;
}

@media screen and (max-width: 768px) {
  .mb {
    display: block;
  }

  #app-header {
    position: fixed;
    box-shadow: 0px 1px 30px #efefef;
  }

  #header-ul {
    display: none;
  }

  #header-ul.mb.show {
    font-size: 1.5em;
    background: inherit;
    width: 100%;
    padding: 20%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3em;
    position: fixed;
    top: 0;
  }

  .burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 99;
  }

  .burger-btn.close span:first-child {
    transform: rotate(45deg);
  }

  .burger-btn.close span:nth-child(2) {display: none;}

  .burger-btn.close span:last-child {
    transform: rotate(-45deg);
    position: absolute;
  }

  .burger-btn span {
    background: #fff;
    display: block;
    width: 20px;
    height: 3px;
    transition: all 0.7s;
  }
}